@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family:'Roboto Regular', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, rgb(109, 109, 223), rgb(44, 44, 85));
}

section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 50vw;
    margin: 20px 0;
    color: white;
    font-size: 3rem;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

#recipes {
    background-color: white;
    width: 50vw;
    border-radius: 10px;
    padding: 0 5px 5px;
}

.btn-load-recipe {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: rgb(226, 145, 65);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 20px;
}

.btn-load-recipe:hover {
    background-color: rgb(202, 114, 27);
}

.div-bouton {
    display: inline-block;
}